#root{
    margin: 20px;
}
h1{
    padding: 10px;
}

.ml-10{
    margin-left: 10px;
}

#game-page{
    justify-content: space-between;
}

.btn {
    height: 39px;
    font-size: 14px;
    border: 1px solid var(--main-button-border-color);
    background-color: var(--main-button-background-color);
    text-transform: uppercase;
    padding: 0 15px;
    background: #d6d5d5;
    box-shadow: 6px 6px #989898, 12px 12px #6c6666;
}

.rooms-container{
    padding: 20px 0;
    display: flex;
    align-items: flex-start;
}

.rooms{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    padding: 25px;
    margin: 10px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 10px;
}

#user-list{
    margin-top: 20px;
    list-style-type: none;
    /* width: 40%; */
}

#user-list li{
    position: relative;
    font-size: 20px;
    margin: 15px;
    
}

.ready-status-red{
    content: '';
    display: block;
    position: absolute;
    top: 11px;
    left: -12px;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: red;
}

.ready-status-green{
    content: '';
    display: block;
    position: absolute;
    top: 11px;
    left: -12px;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: rgb(0, 173, 0);
}

.user-progress-container{
    background-color: transparent;
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    height: 40px;
}
.user-progress{
    height: 38px;
    /* width: 0%; */
    border-radius: 5px;
    background-color: rgb(0, 192, 0);
}

.finished{
    background-color: green;
}

#game-container{
    display: block;
    width: 50%;
}

#right-container{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    width: 50%;
    margin: 20px;
    border: 2px solid black;
}

#text-container{
    /* position: absolute;
    top: 20%;
    right: 0; */
    padding: 10px;
    font-size: 80%
}

#timer{
    position: absolute;
    top: 50%;
    right: 50%;
}

#text-container span{
    padding: 0;
    margin: 0;
}

#game-timer{
    font-size: 14px;
    position: absolute;
    top: 5px;
    right: 10px;
}

.bg{
    background-color: rgb(0, 192, 0);;
}
